<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/client/css/poker.css">
    <title>Game</title>
</head>
<body>
    <div id="app">
        <h1>Texas Hold'em - Drunken Monks Edition</h1>
        <br>

        <p>Paste your admin secret token here and login. When you start the app
        the admin secret token is printed to the output.</p>
        <br><br>

        <input v-model="adminSecretToken" placeholder="Paste token" style="width:40em">
        <br><br>

        <button v-on:click="listPlayers">Show players</button>
        <br><br>

        <div v-if="isLoggedInAsAdmin">
            <p>Start game when all players have joined</p>
            <br>
            <button v-on:click="startGame">Start Game</button>
            <br>
            <p>{{ playerNames.length }} players have joined</p>
            <ul>
                <li v-for="playerName in playerNames">{{ playerName }}</li>
            </ul>
        </div>

        <div v-if="message">{{ message }}</div>
    </div>
</body>
<script src="/assets/client/js/admin.js"></script>
</html>