<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Player</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/client/css/poker.css">
</head>
<body>
<h3>Texas Hold'em - Drunken Monks Edition</h3>
<div id="app">
    <h3 style="background-color:green;border-radius:5px;margin:5px;padding:5px;">
        {{ name }}
    </h3>
    <p v-if="message" style="background-color: green">Message: {{ message }}</p>

    <div v-if="isOnTurn" class="actionbar">
        <input type="radio" id="bet" value="bet" v-model="turnChoice">
        <label for="bet">Bet</label>
        <input type="number" id="betamt" placeholder="Amount" style="width:5em" v-model="betAmount">
        <input type="radio" id="fold" value="fold" v-model="turnChoice">
        <label for="fold">Fold</label>

        <button v-on:click="playTurn">Play Turn</button>
    </div>
    <div v-if="!isOnTurn" class="actionBar">Wait for your turn</div>

    <div style="padding:50px" class="cardtablegrid">
        <div id="poker-table" style="position:relative;width:800px;height:500px;border-radius:200px;background-color:green">
            <div v-for="player in players" v-on:dblclick="assumeRole(player)">
                <div v-bind:style="{ left: player.xy[0], top: player.xy[1] }" v-bind:class="player.cssClass">
                    <div><span>{{ player.name }}  </span><span style="color:gold">${{ player.money }}</span></div>
                    <div v-if="player.isDealer" style="font-size:20px">&#128481;</div> <!-- Buck Knife - signifying dealer -->
                    <img class="avatar-box" v-bind:src="player.avatarUri">
                </div>
                <div v-bind:style="{ left: player.xyBet[0], top: player.xyBet[1], color: 'gold', position: 'absolute' }">
                    ${{ player.moneyInPot }}
                </div>
            </div>
            <div style="position:absolute;left:350px;top:200px;color:gold;font-size:50px">${{ totalMoneyInPot }}</div>
        </div>
        <div>
            <div class="messagebox" style="border:1px solid gray">
                <div v-for="m in stateChangeMessages" class="message">{{m}}</div>
            </div>
            <div style="padding:15px">
               <img v-bind:src="cardFileUris[0]" style="height:10em"/>
               <img v-bind:src="cardFileUris[1]" style="height:10em"/>
            </div>
            <div style="padding:15px">
               <img v-for="uri in communityCardUris" v-bind:src="uri" style="height:6em;padding:0.1em"/>
            </div>
        </div>
    </div>

</div>
<script src="/assets/client/js/player.js"></script>
</body>
</html>