<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/client/css/poker.css">
    <title>Game</title>
</head>
<body>
    <div id="app">
        <h1>Texas Hold'em - Drunken Monks Edition</h1>
        <br>
        <p>Wait for the admin to start the game, then click below to enter</p>
        <input v-model="playerName" placeholder="Enter name"></input>
        <br><br>
        <button v-on:click="register">Join Game</button>
        <br><br>
        <div v-if="message">{{ message }}</div>
        <p>Your player token (automatically saved in browser)</p>
        <div v-if="playerSecretToken">{{ playerSecretToken }}</div>
    </div>
</body>
<script src="/assets/client/js/registration.js"></script>
</html>