body {
    background-color : darkgreen;
    color : white;
    margin : 2em;
}

.statusgrid {
  #border: 2px solid green;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  width: 1000px;
}

.statusgrid > * {
  background-color: green;
  border: 2px solid darkgreen;
  border-radius: 10px;
  padding: 10px;
}

.actionbar {
  background-color: green;
  border: 2px solid darkgreen;
  border-radius: 10px;
  padding: 10px;
  width: 1000px;
}

.cardtablegrid {
  display: grid;
  grid-template-columns: 50% 20% 30%;
  width: 2000px;
  margin: 5px;
}

.cardtablegrid > * {
  padding: 5px;
}

.messagebox {
  overflow-y: scroll;
  height: 100px;
  width: 100%;
  padding: 0;
}

.message {
  border: 1px solid gray;
  padding: 2px;
}

.playertable {
  overflow-y: scroll;
  height: 20em;
  width: 100%;
  display: block;
}

.playertablerow {
  padding: 5px;
}

table, th, td {
  border: 1px solid gray;
}

.draw_attention {
    animation-name: blinker;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-color:darkgreen;
    font-weight:bold;
    font-size: 20px;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    width: 200px;
}

@keyframes blinker {
    0% { background-color: darkgreen; color: yellow }
    50% { background-color: green; color: white }
    100% { background-color: darkgreen; color: yellow }
}

.player-box {
    position: absolute;
    width: 170px;
    height: 140px;
    border-radius: 25px;
    background-color: brown;
    padding: 5px;
}

.turn-player-box {
    animation-name: blinker-turn;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes blinker-turn {
    0% { background-color: red; color: yellow }
    50% { background-color: brown; color: white }
    100% { background-color: red; color: yellow }
}

.folded-player-box {
    background-color: gray;
    text-decoration: line-through;
}

.allin-player-box {
    background-color: blue;
}

.video-box {
    width: 123px;
    height: 68px;
}

.avatar-box {
    width: 64px;
    height: 64px;
}
